# for(sdk_1.03)TS100+1346+6115
# JORTAN MODEL：JT-8183HJD
# PN:81227
#VER：40.0.17
# author: wwp -2024-06-26

version=1

# Reset
support_reset_key=1
ioremap_reset_key=10010


# motor
support_preset_motor_drive=1
motor_speed=4
motor_top_dir=1
motor_top_scale=20
motor_top_steps=110
motor_bottom_dir=1
motor_bottom_scale=35
motor_bottom_steps=400
motor_last_position=6760

# adc
support_adc=1
adc_value_reverse=0
adc_threshold_day_to_night=100
adc_threshold_night_to_day=150

# ir cut
support_ircut=1
ioremap_ircut=00023

# ir Led
support_ir_led=1
ioremap_ir_led=00065

# speak enable control
support_aoamp=1
ioremap_aoamp=00069
aoamp_force_enable=0
aoamp_wait_enable=200
aoamp_wait_disable=4000

# sensor dir
reset_sensor_direction=1

# net
support_ethernet=1
support_wifi_sta_mode=1
support_wifi_ap_mode=1
support_qr_code_wifi=1
support_bluetooth_config_wifi=1

# expel function
support_expel=1
support_custom_voice=1

# motion detection and person detection
support_md_level=1
support_smd=1
reset_md_level=2
support_hummen_detec=1
support_human_draw_box=1

# motion tracking
support_motion_tracking=1
motion_tracking_angle_of_lens=72
motion_tracking_step_per_angle_x=65
motion_tracking_step_per_angle_y=48
motion_tracking_motor_reverse_x=0
motion_tracking_motor_reverse_y=1

# settings
reset_video_clear_level=3
reset_ao_talk_volume_level=8
remote_talk_mode=0
sound_prompt_language=1
support_default_ld_record=1
support_sdinfo_not_disp=1

#aging test
support_aging_test=0

# debug mode
#debug_mode=1
#debug_show_adc_value=0
#debug_disable_watchdog=0
